# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

# Ignore database config
config/database.yml

# Dev Machines
.DS_Store
*/.DS_Store

.idea/

# Ignore uploaded files
/public/system
/public/tmp
/public/uploads
/public/spec

config/*.sphinx.conf
db/sphinx